<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Player Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngIf="loading" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
        <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="!loading">
        <ion-card style="padding: 20px;">

            <ion-avatar>
                <ion-img src="{{ player.imageUrl}}" style="width: 128px; height: 128px;"></ion-img>
            </ion-avatar>

            <div style="margin-top: 10px;">
                <ion-card-title style="text-align: center;">
                    <ion-text color="tertiary">{{player.jersey}}</ion-text>
                    {{ player.name | titlecase}}
                </ion-card-title>
                <div style="text-align: center; padding-top: 5px; color: #969696;">
                    {{ player.position | uppercase}}
                </div>
            </div>

            <div class="info-panel">
                <div class="panel-content">
                    <div class="panel-item">
                        Nationality: <b>{{ countries[player.nationality].trim() }}</b>
                    </div>
                </div>
            </div>
        </ion-card>

        <ion-list>
            <ion-list-header>
                <ion-title>Statistics</ion-title>
            </ion-list-header>
            <ion-item>
                <span class="stat-name">Appearances</span>
                <span slot="end" style="font-weight: bold;">{{ player.appearances }}</span>
            </ion-item>
            <ion-item>
                <span class="stat-name">Goals</span>
                <span slot="end" style="font-weight: bold;">{{ player.goals }}</span>
            </ion-item>
            <ion-item>
                <span class="stat-name">Player of Game</span>
                <span slot="end" style="font-weight: bold;">{{ player.pog }}</span>
            </ion-item>
            <ion-item *ngIf="player.position === 'Goalkeeper'">
                <span class="stat-name">Goals Against</span>
                <span slot="end" style="font-weight: bold;">{{ player.goalsAgainst }}</span>
            </ion-item>
            <ion-item>
                <span class="stat-name">Yellow cards</span>
                <span slot="end" style="font-weight: bold;">{{ player.yellowCards }}</span>
            </ion-item>
            <ion-item>
                <span class="stat-name">Red cards</span>
                <span slot="end" style="font-weight: bold;">{{ player.redCards }}</span>
            </ion-item>
        </ion-list>
    </div>

</ion-content>
