ion-content {
  --background: var(--background-gradient)
}

ion-grid {

  border-bottom: 1px solid grey;
  padding: 20px 10px;

  .team {
    color: black;
    display: block;
  }

  .team-town {
    //color: white;
    font-size: 14px;
    text-transform: capitalize;
  }

  .team-name {
    //color: white;
    text-transform: uppercase;
    font-size: 200%;
    font-family: 'Squada One', serif;
  }

  .team-score {
    //color: white;
    text-transform: uppercase;
    font-size: 60px;
    color: black;
  }

  div.sep {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    font-size: 50px;
    animation: flickerAnimation 3s infinite;
  }

}


.info-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;

  .panel-content {
    height: 100%;
    color: white;
    background-color: var(--ion-color-primary);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    display: block;
  }

  .panel-item {
    margin: 0 5px;
    padding-right: 10px;
    align-items: center;

    ion-icon {
      display: inline-block;
      vertical-align: middle;
      padding-right: 5px;
    }

    ion-text {
      display: inline-block;
      vertical-align: middle;
    }
  }

}

ion-avatar {
  width:100% !important;
  height : 100% !important;
  max-width: 128px !important;  //any size
  max-height: 128px !important; //any size
  margin: auto;
}
