<ion-header>
  <ion-toolbar>
    <ion-title>Umoji Center</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button routerLink="check-in" routerDirection="forward" expand="block" color="primary">Check in participants</ion-button>
  <ion-button routerLink="match-edit" routerDirection="forward" expand="block" color="secondary">Update match scores & stats</ion-button>
  <ion-button routerLink="team-edit" routerDirection="forward" expand="block" color="tertiary">Update player scores & stats</ion-button>

</ion-content>
