<ion-header>
  <ion-toolbar>
    <ion-title>Matches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Scrollable Segment -->
  <!-- Apple styles just look bad for segments so I set it to MD -->
  <ion-segment scrollable mode="md" (ionChange)="segmentChanged($event)">
    <ion-segment-button mode="md" *ngFor="let category of categories" [attr.checked]="category === selectedCategory">
      {{ category }}
    </ion-segment-button>
  </ion-segment>

  <!-- Match cards -->
  <app-match-list-card *ngFor="let match of matches | matchCategory:selectedCategory" [match]="match"></app-match-list-card>
</ion-content>
