<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Matches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <!-- Scrollable Segment -->
  <!-- Apple styles just look bad for segments so I set it to MD -->
  <ion-segment scrollable mode="md" [(ngModel)]="selectedCategory" (ionChange)="segmentChanged()">
    <ion-segment-button mode="md" *ngFor="let category of categoryNames" [value]="category">
      {{ category }}
    </ion-segment-button>
  </ion-segment>

  <!-- Match cards -->
  <div *ngIf="loading" style="text-align: center; margin-top: 20px;">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="!loading">
    <ion-list-header>
      Upcoming Matches
    </ion-list-header>
    <app-match-list-card *ngFor="let match of matches" [match]="match"></app-match-list-card>
    <ion-list-header>
      Past Matches
    </ion-list-header>
    <app-match-list-card *ngFor="let match of pastMatches" [match]="match"></app-match-list-card>
  </div>
</ion-content>
