<ion-header translucent="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Check in</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" drag-content="false">

    <form #form="ngForm" (ngSubmit)="submit()">
        <ion-grid>
            <ion-row justify-content-center>
                <ion-col align-self-center>
                    <div text-center>
                        <h5>Please enter all of the following information.</h5>
                    </div>
                    <div padding>
                        <ion-item>
                            <ion-input [(ngModel)]="checkInForm.name" name="name" type="text" placeholder="Full Name"
                                       required></ion-input>
                        </ion-item>
                        <ion-item style="width: 100% !important;">
                            <ion-select [(ngModel)]="checkInForm.category" name="category" placeholder="Category"
                                        (ionChange)="categorySelected()" required
                                        style="max-width: 100% !important;">
                                <ion-select-option
                                        *ngFor="let category of this.categorizedTeams">{{ category }}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-select [(ngModel)]="checkInForm.team" name="team" placeholder="Team"
                                        [disabled]="!teams || teams.length <= 0"
                                        required
                                        style="max-width: 100% !important;">
                                <ion-select-option
                                        *ngFor="let team of teams">{{ team }}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-input name="email" type="email" placeholder="Email" [(ngModel)]="checkInForm.email"
                                       required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="phone" type="tel" placeholder="Phone number (optional)"
                                       [(ngModel)]="checkInForm.phone"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-datetime name="dob" displayFormat="MMMM DD, YYYY" placeholder="Date of birth"
                                          (ionChange)="dobSelected($event)"></ion-datetime>
                        </ion-item>
                    </div>

                    <ion-list>
                        <ion-list-header>
                            <ion-label>Identification</ion-label>
                        </ion-list-header>
                        <ion-item>
                            <label style="padding-right: 20px;">ID photo</label>
                            <input #idCamera type="file" accept="image/*" capture="camera"/>
                        </ion-item>
                        <ion-item>
                            <label style="padding-right: 20px;">Player photo</label>
                            <input #playerCamera type="file" accept="image/*" capture="camera"/>
                        </ion-item>
                    </ion-list>

                    <div padding>
                        <ion-button size="large" type="submit"
                                    [disabled]="form.invalid || checkInForm.idPhoto === '' || checkInForm.playerPhoto === '' || checkInForm.dob === ''"
                                    expand="block">Submit
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

</ion-content>
