<ion-content>

    <ion-text color="primary" text-center>
        <h1>2019 Umoja Games</h1>
    </ion-text>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card class="gradient1" routerLink="/tabs/matches" routerDirection="root">
                    <ion-card-header>
                        <ion-card-title>Matches</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>Tap here to see all the matches for the entire tournament.</ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="gradient2" routerLink="/tabs/teams" routerDirection="root">
                    <ion-card-header>
                        <ion-card-title>Teams</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>Tap here to view all of the fabulous teams and players participating in this year's games.</ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card class="gradient3" routerLink="/tabs/info" routerDirection="root">
                    <ion-card-header>
                        <ion-card-title>Information</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>Tap here to view the schedule, frequently asked questions, and other important information.</ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="gradient4" routerLink="/tabs/near" routerDirection="root">
                    <ion-card-header>
                        <ion-card-title>Near Me</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>Tap here to view nearby halal eateries, accommodations, and attractions.</ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
