<ion-card class="welcome-card">
  <ion-card-header>
    <ion-card-subtitle>Welcome to Umoja Games</ion-card-subtitle>
    <ion-card-title>Follow a team.</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Follow a team to be notified before the game starts and get score updates sent right to your phone.
      You can follow as many as you want, and you can come back and change them in settings.
    </p>
    <ion-select placeholder="Select teams" multiple="true" okText="Choose">
      <ion-select-option value="allentown-u16">Allentown United U16</ion-select-option>
      <ion-select-option value="allentown-u12">Allentown United U12</ion-select-option>
      <ion-select-option value="allentown-u35">Allentown United U35</ion-select-option>
      <ion-select-option value="toronto">Toronto Whatevers</ion-select-option>
    </ion-select>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="light">No thanks</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="primary">Follow</ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
