ion-content {
  --background: var(--background-gradient);
}

ion-card {
  text-align: center;
  padding: 20px;

  .subtitle {
    font-weight: normal;
  }

  .title {
    text-transform: uppercase;
    color: var(--ion-color-primary);
  }
}
