<ion-header>
  <ion-toolbar>
    <ion-title>Teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Scrollable Segment -->
  <!-- Apple styles just look bad for segments so I set it to MD -->
  <ion-segment scrollable mode="md" [(ngModel)]="selectedCategory">
    <ion-segment-button mode="md" *ngFor="let category of categoryNames" [value]="category">
      {{ category }}
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngFor="let team of teams | matchCategory:selectedCategory" routerLink="team/{{team.id}}">
    <ion-card-title>
      <span class="subtitle">{{ team.subtitle }} </span>
      <span class="title">{{ team.title }}</span>
    </ion-card-title>
  </ion-card>

</ion-content>
