<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Match Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="!ready1 || !ready2">
    <div  style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
        <ion-spinner></ion-spinner>
    </div>
</ion-content>

<ion-content *ngIf="ready1 && ready2">

    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col class="team" style="float: left;">
                    <span class="team-town">{{ team1.subtitle }}</span>
                    <br/>
                    <span class="team-name">{{ team1.title }}</span>
                </ion-col>

                <ion-col class="team" float-right style="text-align: right;">
                    <span class="team-town">{{ team2.subtitle }}</span>
                    <br/>
                    <span class="team-name">{{ team2.title }}</span>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="team-score" style="text-align: right;">
                    {{match.team1.goals}}
                </ion-col>
                <ion-col>
                    <div class="sep">
                        •
                    </div>
                </ion-col>
                <ion-col class="team-score">
                    {{match.team2.goals}}
                </ion-col>
            </ion-row>
            <ion-row class="info-panel">
                <div class="panel-content">
                    <div class="panel-item">
                        <ion-icon name="pin"></ion-icon>
                        <ion-text>{{ match.field }}</ion-text>
                    </div>
                    <div class="panel-item">
                        <ion-icon name="clock"></ion-icon>
                        <ion-text>{{ timeString }}</ion-text>
                    </div>
                </div>
            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-card>
        <ion-card-title style="padding: 20px;">Player Rosters</ion-card-title>
        <ion-segment [(ngModel)]="rosterSegment" (ionChange)="rosterChanged()">
            <ion-segment-button value="team1">{{team1.subtitle}} {{team1.title}}</ion-segment-button>
            <ion-segment-button value="team2">{{team2.subtitle}} {{team2.title}}</ion-segment-button>
        </ion-segment>

        <ion-list>
            <ion-list-header>
                <ion-label>Players</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let player of selectedRoster">
                <ion-avatar slot="start">
                    <ion-img src="{{player.imageUrl}}"></ion-img>
                </ion-avatar>
                <ion-label>
                    <h2>
                        <span style="color: var(--ion-color-primary); font-weight: bold;">{{ player.jersey }} </span>
                        <span>{{ player.name }}</span>
                    </h2>
                    <h3>
                        <span>{{ player.position | titlecase}}</span>
                    </h3>
                    <p>
                        App.: <b>{{getForMatch(player).appearances}}</b> • G.:
                        <b>{{getForMatch(player).goals}}</b> • PoG: <b>{{getForMatch(player).pog}}</b>
                        <span *ngIf="player.position === 'goalkeeper'">• <b>{{getForMatch(player).goalsAgainst}}</b></span>
                        • YC: <b>{{getForMatch(player).yellowCards}}</b> • RC:
                        <b>{{getForMatch(player).redCards}}</b>
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-card>

</ion-content>
