<ion-header no-border>
  <ion-toolbar>
    <ion-title><h1>Home</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Figure out headers -->
  <h2>Matches</h2>
  <div scrollx="true" class="scrolling-cards">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>This is a</ion-card-subtitle>
        <ion-card-title>Nice Card</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        This is some nice content
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>This is a</ion-card-subtitle>
        <ion-card-title>Nice Card</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        This is some nice content
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>This is a</ion-card-subtitle>
        <ion-card-title>Nice Card</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        This is some nice content
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
